# =====================
# 
#   Internal constants
#   file://./src/app.internal-constants.ts
# 
# =====================


# =====================
# Mongo
# 
MONGODB_ADDRESS=localhost:27018
MONGODB_DATABASE=shinest
MONGODB_USER=testuser
MONGODB_PASSWORD=password


# =====================
#  Webhook and ports
# 
IS_WEBHOOK_ACTIVE=false
WEBHOOK_DOMAIN=https://some_url.com
APP_EXPOSE_PORT=8000
APP_EXPOSE_PORT_WEBHOOK=8080
APP_PORTS=8000:3000
APP_PORTS_WEBHOOK=8001:8001
ENABLE_INTERNAL_CORS=false


# =====================
#  Bot configuration
# 
# https://t.me/SOME_BOT
BOT_TOKEN=0000000000:AAAaaAaaAAAAAAA-aaAAaaaaaAA-AaaaAAa
FILE_STORAGE_CHAT_ID=-0000000000
ERRORS_CHAT_ID=-0000000000
PUBLICATION_MAIN_CHANNEL_ID=-0000000000
PUBLICATION_MAIN_CHANNEL_NAME=-0000000000
MODERATION_CHANNEL_ID=-0000000000
MODERATION_CHAT_ID=-0000000000


# =====================
#  GPT configuration
# 
GPT_API_KEY=some-api-key
GPT_MODEL_URI=gpt://folder_id/yandexgpt/latest


# =====================
#  
# 
YANDEX_API_KEY=some-api-key


# =====================
# Other
# 
APP_TZ=+3
GOOGLE_SPREADSHEET_ID=1YLjE5g7Xa6GiV3F0q7Q6jFMZbFbOULrppV338E7_wiA
CACHE_BOT_CONTENT_ON_START=true