version: '3'

services:
  nest:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    depends_on:
      - mongodb
    ports:
      - ${APP_PORTS}
      - ${APP_PORTS_WEBHOOK}
    expose:
      - ${APP_EXPOSE_PORT}
      - ${APP_EXPOSE_PORT_WEBHOOK}
    env_file:
      - .env.sample
  
  mongodb:
    container_name: 'sunshine_mongo'
    image: mongo:latest
    ports:
      - 27018:27017
    volumes:
      - mongodata:/data/db
    environment:
      MONGO_INITDB_DATABASE: shinest
      MONGO_INITDB_ROOT_USERNAME: testuser
      MONGO_INITDB_ROOT_PASSWORD: password

volumes:
  mongodata:
